// =====================================================
// ============ STYLES MOBILE-FIRST 🧡🧡==============
// ===============================================
.footer{
    background-color: #222222;
    padding: 3rem 0 4rem 0;

    a:hover{
        text-decoration: underline;
    }

    &__container{
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    &__socials{
        font-size: 28px;
        margin: 4rem 0;

        a{
            margin-left: .8rem;

            &:hover{
                color: #0744af;
            }
        }
    }

    &__disclaimer{
        padding: 0 10px;
    }

    &__copyrights{
        margin-top: 2rem;
    }
}

.nav__map i {
    margin-right: .3rem;
}

.logo--footer{
    height: 90px;
    margin: auto;
    margin-bottom: 50px;
}

.copyright--ht{
    display: none;
}


// =====================================================
// ============ STYLES DESKTOP 🧡🧡==============
// ===============================================
@media screen and (min-width:1250px) {
    .footer{
        padding: 50px 0 25px 0;
        display: flex;
        flex-direction: column;

        &__header{
            margin-bottom: 2rem;
        }

        &__wrapper{
            display: flex;
            justify-content: space-around;
        }

        &__disclaimer{
            text-align: left;
        }

        &__copyrights{
            display: flex;
            justify-content: space-between;
        }
    }

    .copyright--ht{
        display: inline;
    }

    .logo--footer{
        height: 90px;
    }
}


// =====================================================
// ============ STYLES TABLET 🧡🧡==============
// ===============================================
@media screen and (min-width:768px) {

    .footer{
        &__wrapper{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
    
        &__container{
            flex-basis: 50%;
        }

        &__disclaimer{
            text-align: left;
        }

        &__copyrights{
            display: flex;
            justify-content: space-between;
            padding: 0 10px;
        }
    }
    

}