// =====================================================
// ============ STYLES MOBILE-FIRST 🧡🧡==============
// ===============================================
.header--home{
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: #222;
}

.navbar{
    position: absolute;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);

    &--home{
        background: none;
        box-shadow: none;

        .burger-menu div{
            background-color: white;
        }
    }
}

.logo-container img{
    height: 60px;
}

.nav{
    display: none;

    a{
        color: black;
    }
    .search {
        color: white;
    }

    &--home a{
        color: white;
    }
}

.burger-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 18px;

    & div{
        height: 2px;
        width: 20px;
        background-color: black;
    }
}



.hero{
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 2rem;

    &__video{
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 3;
        
    
        & video{
            height: 100%;
            width: 100%;
            object-fit: cover;
            z-index: 3;
        }
    }

    &__body{
        z-index: 6;
    }
    &__btn{
        display: none;
    }
}


// =====================================================
// ============ STYLES DESKTOP 🧡🧡==============
// ===============================================
@media screen and (min-width:1250px) {

    .navbar{
        padding: 10px 50px;
    }

    .logo-container img{
        height: 90px;
    }
    .burger-menu{
        display: none;
    }

    .nav{
        display: flex;
        gap: 2rem;
        align-items: center;
        padding: 2rem 0;

        .search{
            background-color: #0744af;
            padding: 5px 8px;
            border-radius: 5px;
        }

        a:not(.search):hover{
            color: #0744af;
        }
    }
    .hero{
        
        &__body{
            max-width: 1400px;
            margin: auto;
        }

        &__btn{
            display: flex;
            gap: 1rem;
        }
    }

    .text--hero{
        width: 42%;
        margin-bottom: 3rem;
    }
}

// =====================================================
// ============ STYLES TABLET 🧡🧡==============
// ===============================================
@media screen and (min-width:768px) and (max-width:1249px) {
    .hero__btn{
        display: flex;
        gap: 1rem;
    }

    .text--hero{
        width: 60%;
        margin-bottom: 3rem;
    }
}