// =====================================================
// ============ STYLES MOBILE-FIRST 🧡🧡==============
// ===============================================
.btn{
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.1rem;
    border-radius: 5px;
    padding: 10px 15px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    width: fit-content;
    cursor: pointer;
    transition: .3s all ease-in-out;

    &--hero{    
        font-family: "Roboto", sans-serif; 
        color: white;
        font-weight: 700;
        padding: 1em 2.2em;
        transition: .3s all ease;

        i {
            margin-left: .5rem;
        }
        
        &-blue{
            background-color: #0744af;
        }
        &-black{
            background-color: #000;
        }

        &:hover{
            opacity: .6;
        }
    }

    &--attorneys{
        color: #0F3447;
        background-color: white;
        margin: auto;

        & i{
            margin-right: .8rem;
        }

        &:hover{
            background-color: #000;
            color: white;
        }
    }

    &--blog{
        font-size: 14px;
        font-weight: 400;
        background-color: #0744af;
        color: white;
        padding: 8px 20px;
        border-radius: unset;
        margin: auto;

        & i{
            font-size: 8px;
            margin-left: .5rem;
        }

        &:hover{
            background-color: white;
            color: #0744af;
        }
    }

    &--filters{
        font-family: "Roboto", sans-serif; 
        background-color: white;
        border: 1px solid #626364;
        color: #626364;
        text-transform: capitalize;
        letter-spacing: normal;

        &:hover{
            background-color: #0744af;
            color: white;
            border: 1px solid #0744af;
        }
    }

    &--form{
        font-family: "Roboto", sans-serif;
        text-transform: capitalize;
        font-size: 18px;
        font-weight: 700;
        margin: auto;
        color: #ffffff;
        background-color: #0744af;
        border-radius: 6px;
        border: none;

        &:hover{
            background-color: #000;
            color: #fff;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
        }
    }
}

.is-active{
    background-color: #0744af;
    color: white;
    border: 1px solid #0744af;
}
// =====================================================
// ============ STYLES DESKTOP 🧡🧡==============
// ===============================================
@media screen and (min-width:1250px) {
    .btn{
        margin: unset;
    }
}

// =====================================================
// ============ STYLES TABLET 🧡🧡==============
// ===============================================
@media screen and (min-width:768px) {
    .btn{
        &--blog{
            margin: 0;
        }

        &--attorneys{
            margin: 0;
        }
    }
}