.accessibility{
    position: fixed;
    bottom: 12px;
    left: 15px;
    font-size: 40px;
    cursor: pointer;
    color: #006595;
    z-index: 5;
    transition: .1s all ease-in-out;
    & a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        border: 2px solid #006595;
        background-color: #006595;
    }
    & i {
        background-color: white;
        border-radius: 50%;
        border: 1px solid white;
    }

    &:hover{
        transform: scale(1.05);
    }
}

.call-fixed{
    position: fixed;
    bottom: 0;
    background-color: #0c5cb7;
    color: white;
    padding: 1rem;
    width: 100%;
    text-align: center;
    z-index: 3;
    border-top: 2px solid white;
}

.section{
    padding: 50px 10px;
}

@media screen and (min-width:1250px) {

    .section{
        &__wrapper{
            max-width: 1400px;
            margin: auto;
        }
    }
    
    .call-fixed{
        display: none;
    }
}