@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Mukta:wght@400;500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

// =====================================================
// ============ STYLES MOBILE-FIRST 🧡🧡==============
// ===============================================

*{
    font-family: "Roboto", sans-serif; 
}

h1, h2, h3, h4, h5, h6 {
    color: #000;
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 1.2;
}

p{
    margin-bottom: 20px;
}

.suptitle{
    color: #0744af;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;

    &--attorneys{
        text-transform: capitalize;
        font-size: 18px;
        color: white;
        font-weight: 400;
    }
}

.title{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-top: 10px;

    &--hero{
        color: white;
        font-weight: 700;
        text-transform: capitalize;
        font-size: 24px;
    }

    &--section{
        font-size: 30px;
    }

    &--attorneys{
        font-size: 24px;
        color: white;
    }

    &--card{
        font-size: 24px;
        font-weight: 400;
    }

    &--blog{
        font-size: 20px;
        color: white;

        &:hover{
            text-decoration: underline;
        }
    }
    
    &--footer{
        font-size: 24px;
        line-height: 1.5;
        color: white;
        letter-spacing: 0.01rem;
        font-weight: 600;
    }

    &--name{
        font-family: 'Poppins', sans-serif;
        letter-spacing: 0px;
        font-size: 22px;
        text-transform: none;
        font-weight: 400;
        line-height: 1.5;
        color: #0744af;
        margin-bottom: 0;

        &:hover{
            color: black;
            text-decoration: underline;
        }
    }

    &--maps{
       font-size: 28px; 
    }
}

.subtitle{

    &--attorney{
        font-family: "Mukta", sans-serif;
        letter-spacing: 0px;
        line-height: normal;
        font-weight: 400;
        color: #777;
        font-size: 14px;
        text-transform: uppercase;
    }

    &--form{
        color: #555;
    }
}

.text{
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
    color: #555;
    &--hero{
        font-size: 15.4px;
        line-height: 1.6;
        color: white;
    }

    &--section{
        font-size: 18px;

        & a{
            color: #0744af;
            text-decoration: underline;
        }
    }

    &--attorneys{
        color: white;
    }

    &--card{
        font-size: 16px;
        color: #222;
        transition: .3s all ease-in-out;
    }

    &--blog{
       font-size: 15px;
       line-height: 22px; 
       color: white;
       margin-top: 1rem;
    }

    &--address{
        font-size: 14px;
        font-style: normal;
        color: white;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }

    &--address-map{
        font-size: 15px;
        font-style: normal;
        line-height: 1.5;
        color: #555;
    }

    &--attorney{
        font-family: "Mukta", sans-serif;
        text-align: left;
        letter-spacing: 0px;
        line-height: normal;
        font-weight: 400;
        color: #999;
        font-size: 14px;

        & a:hover{
            color: #0744af;
            text-decoration: underline;
        }
    }

    &--form{
        font-size: 15px;
        font-style: italic;
    }
}

.date{
    font-size: 12px;
    text-transform: uppercase;
    color: white;
}

.card__link{
    color: #0744af;
    text-transform: uppercase;
    font-size: 12px;

}

.card--cta *{
    color: white;
}

blockquote p{
    font-family: "Libre Baskerville", serif;
    font-size: 24px;
    color: #0744af;
    line-height: 1.5;
}

cite{
    font-family: "Libre Baskerville", serif;
    color: #0744af;
    font-weight: 600;
    font-size: 18px;
    margin-top: 2rem;
}

.nav{
    color: white;
    
    & a{
        font-family: "Poppins", sans-serif;
        font-size: 18px;
    }
    &__tel{
        font-size: 16px;
    }
    
    &__map{
        font-size: 14px;
    }
}

.section{
    text-align: center;
}

.card{
    text-align: left;
}


.footer{
    text-align: center;
    color: white;
    font-size: 14px;
}

small{
    line-height: 1.5;
    font-size: 14px;
}

.call-fixed{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;

    i {
        transition: .3s all ease-in-out;
        margin-right: 1rem;
    }

    &:hover {
        text-decoration: underline;
        color: #FFD700;
        i{
            color: white;
            transform: scale(1.2)
        }
    }
    
}

.maps__contact {
    color: #0744af;

    span{
        margin-bottom: 0.3rem;
    }
}

// =====================================================
// ============ STYLES DESKTOP 🧡🧡==============
// ===============================================
@media screen and (min-width:1250px) {
    .nav{
        & a{
            font-size: 20px;
        }
    }
    
   

    .subtitle{

        &--form{
            text-align: center;
            font-size: 22px;
            margin-bottom: 2rem;
        }
    }
    
    .text{
        &--hero{
            font-size: 22px;
        }
    }

    .section{
        text-align: left;
    }

    blockquote{
        text-align: center;
        margin-left: 4%;
    }
    blockquote p{
        font-size: 30px;
    }
    
    cite{
        font-size: 18px;
    }
}

// =====================================================
// ============ STYLES TABLET 🧡🧡==============
// ===============================================

@media screen and (min-width:768px) and (max-width:1249px) {
    .title{
    
        &--hero{
            font-size: 56px;
        }

        &--form{
            text-align: center;
        }
    }

    .section{
        text-align: left;
    }

    blockquote{
        text-align: center;
    }

    .subtitle{

        &--form{
            text-align: center;
            font-size: 22px;
            margin-bottom: 2rem;
        }
    }
}